/* ===========Common Styles=========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
input{
  padding:0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background: #fafafa;
}
.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ===========/Common Styles=========== */
/* ===========Page Header Styles=========== */

.page-nav {
  display: flex;
  justify-content: space-between;
  width: 980px;
}
.menu {
  display: flex;
  column-gap: 24px;
}
.logo {
  display: flex;
  align-items: center;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-icon {
  margin-left: 4px;
}
.text-italic {
  font-style: italic;
}
.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
  transition: color 250ms linear;
}
.menu-link.active {
  position: relative;
  color: #fd9222;
}
.menu-link.active:after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #fd9222;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-list {
  display: flex;
  column-gap: 18px;
}
.social-list-link {
  display: block;
  stroke: #111111;
  fill: none;
  transition: stroke 250ms linear;
}

.social-list-link:hover,
.social-list-link:focus {
  stroke: #fd9222;
}
/* ===========/Page Header Styles=========== */

/* ===========Hero Section Styles=========== */
.hero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-color: #303030;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
}

.main-title {
  max-width: 460px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 32px;
}
.hero-buy-btn {
  min-width: 144px;
  border-radius: 100px;
  padding: 14px 20px;
  height: 45px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
  transition: color 250ms linear, background-color 250ms linear;
}
.hero-buy-btn:hover,
.hero-buy-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.how-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  height: 45px;
  margin-right: auto;
  transition: color 250ms linear, border 250ms linear;
}
.how-made-link:hover,
.how-made-link:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}
.scroll-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  transition: color 250ms linear;
}
.scroll-link:hover,
.scroll-link:focus {
  color: #fd9222;
}
.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #fd9222;
  transition: background-color 250ms linear, fill 250ms linear;
}
.scroll-link:hover .scroll-down-icon-wrapper {
  background-color: #fd9222;
  fill: #ffffff;
  color: #fd9222;
}

.hero-bottom-block {
  display: flex;
  align-items: center;
}

/* ===========/Hero Section Styles=========== */

/* ===========Benefits Section Styles=========== */

.benefits-section {
  margin-top: 72px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #1e1823;
}
.benefits-list {
  display: flex;
  gap: 88px;
  align-content: stretch;
}
.benefits-item {
  flex-basis: calc((100% - (88px * 2)) / 3);
}
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}
.benefits-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.benefits-item-icon-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-item-icon {
  fill: #fd9222;
}
/* ===========/Benefits Section Styles=========== */

/* ===========Ingredients Section Styles=========== */
.ingredients {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  color: #111111;
}
.ingredients .section-title {
  margin-bottom: 28px;
}
.accent-color {
  color: #fd9222;
}
.ingredients-desc {
  max-width: 486px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}
.ingredients-list-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 32px 28px;
  flex-basis: calc((100% - 57px) / 4);
}
.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}
.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border-color: #1e1823;
}

.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingredients-list-item:nth-child(odd) {
  color: #ffffff;
}
.ingredient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
  background-color: #ffffff;
  color: #111111;
  padding: 20px;
  border-radius: 15px;
}
.ingredient-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.ingredient-overlay-categories {
  display: flex;
  column-gap: 6px;
  margin-bottom: 14px;
}
.ingredient-overlay-item {
  background-color: #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
.ingredient-overlay-item:first-child {
  color: #fff;
  background-color: #fd9222;
}
.ingredient-overlay-item:last-child {
  color: #111111;
  background-color: transparent;
  border: 1px solid #fd9222;
}
.ingredient-overlay-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.ingredients-list-item:hover .ingredient-overlay {
  transform: translateY(0);
}
/* ===========/Ingredients Section Styles=========== */

/* ===========How made Section Styles=========== */
.how-made {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-title {
  margin-bottom: 50px;
}
.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}
.how-made-img {
  border-radius: 15px;
}
.how-made-text-wrapper {
  padding: 32px;
  border-radius: 15px;
  background: #ffffff;
}
.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 28px;
}
.how-made-list-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.how-made-list-item:last-child {
  margin-bottom: 0;
}

.how-made-list-item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}
/* ===========/How made Section Styles=========== */

/* ===========Reviews Section Styles=========== */
.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  margin-bottom: 49px;
}
.reviews-list-item {
  position: relative;
  flex-basis: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  padding: 56px 24px 24px;
}
.reviews-list-item-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}
.reviews-list-fullname {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}
.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.leave-review-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  height: 50px;
  background-color: transparent;
  transition: color 250ms linear, background-color 250ms linear;
}
.leave-review-btn:hover,
.leave-review-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* ===========/Reviews Section Styles=========== */

/* ===========Footer Section Styles=========== */
.page-footer {
  padding-top: 50px;
  background-color: #1e1823;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.page-footer-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.contact-block {
  font-style: normal;
}
.contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  margin-bottom: 14px;
}
.contact-list-item {
  margin-bottom: 4px;
}
.contact-list-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  transition: color 250ms linear;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #fd9222;
}
.page-footer .menu-link {
  color: #ffffff;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* ===========/Footer Section Styles=========== */

/* ===========Backdrop  Styles=========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
 opacity:0;
 visibility: hidden;;
 transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-open{
  opacity:1;
  visibility: visible;
}
/* =========== /Backdrop  Styles=========== */

/* =========== Modal Window Styles=========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  padding:40px;
}
.modal-close-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  stroke:#111111;
  background-color: transparent;
  border: none;
  transition: stroke 250ms linear;
  line-height: 0;
  padding: 0;
}
.modal-close-btn:hover,
.modal-close-btn:focus{
  stroke: #fd9222;
}


/* =========== /Modal Window Styles=========== */

/* =========== Review Form Styles=========== */
.review-form-description{
max-width: 355px;
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111111;
margin-bottom: 40px;
}

.review-form-field-wrapper{
  margin-bottom: 18px;
}
.review-form-field-label{
  display: block;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
margin-bottom: 8px;

}

.privacy-policy-link{
  color: #fd9222;
  text-decoration: underline;
}
.review-form-checkbox-wrapper{
  margin-bottom: 40px;
}
.review-form-submit-btn{
border-radius: 100px;
padding: 14px 40px;
width: 117px;
height: 45px;
border: none;
background: #fd9222;
font-weight: 600;
font-size: 14px;
color: #fff;
}
.review-form-field-input{
  width:100%;
  height:68px;
  border: 1px solid rgba(17, 17, 17, 0.05);
border-radius: 13px;
padding-left: 62px;

background-color: transparent;
transition: border 250ms linear;

}
.review-form-field-input:hover, 
.review-form-field-input:focus{
  border: 1px solid #fd9222;
}
.review-form-input-wrapper{
  position: relative;
}
.review-form-input-icon{
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  transition: stroke 250ms linear;
}
.review-form-field-input:focus{
  border-color: #fd9222;
  outline: transparent;
}
.review-form-field-input:focus + .review-form-input-icon{
  stroke:#fd9222; 
}

.review-form-message{
font-size: 18px;
letter-spacing: -0.02em;

  border: 1px solid rgba(17, 17, 17, 0.05);
border-radius: 13px;
padding: 22px 24px;
width: 100%;
height: 137px;
background-color: transparent;
resize:none;
transition: border-color 250ms linear;
}
.review-form-message::placeholder{
  color: rgba(64, 64, 64, 0.3);
}
.review-form-message:focus{
  border-color: #fd9222;
  outline: transparent;
}

.review-form-checkbox-label{
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.6);
}
.review-form-own-checkbox{
  width:20px;
  height:20px;
  border-radius: 6px;
border: 1px solid rgba(17, 17, 17, 0.14);
}
.review-form-own-checkbox{
  display: inline-flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.review-form-privacy-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox{
background-color: #fd9222; 
fill: #ffffff; 
border-color: #fd9222;
}
.review-form-privacy-checkbox:focus + .review-form-checkbox-label .review-form-own-checkbox{
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
/* =========== /Review Form Styles=========== */